{% include 'head.html' %}

<!-- Header -->
{% include 'header.html' %}

<body>
<div class="container py-5">
    <h1 class="display-5 fw-bold mb-5" align="center">What is this about?!</h1>
    <div class="container col-xxl-8 px-4 py-5 mb-4 bg-body-tertiary text-light rounded">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ps-5">
            <div class="col-10 col-sm-8 col-lg-6"><img src="static/images/Angela_Yu.jpg"
                                                       class="d-block mx-lg-auto img-fluid rounded-circle"
                                                       alt="Picture of Angela Yu"
                                                       style="width: 200px; height: 200px; object-fit: cover;"
                                                       loading="lazy">
                <img src="static/images/my_anime_sq.jpg"
                     class="d-block mx-lg-auto img-fluid rounded-circle mt-5"
                     alt="Anime picture of Juan Silva"
                     style="width: 200px; height: 200px; object-fit: cover;"
                     loading="lazy">
            </div>
            <div class="col-lg-6"><h1 class="display-8 fw-bold text-body-emphasis lh-1 mb-4">This is my way to say
                Thanks to my teacher!</h1>
                <p class="lead">She is the responsable for this, I have learned a lot about Python and
                    web development. In other words: this page is sponsored by Dr. Angela Yu and her course</p>
                <a href="https://www.udemy.com/course/100-days-of-code/"><p class="lead">100 Days of Code: The Complete
                    Python Pro Bootcamp</p></a>
                <p class="lead">Ah , this is me! (anime version, bottom) and the one on the top is her. 😆</p>


            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
{% include 'footer.html' %}
</body>
</html>